/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
}
/* /general rules */

/* class selectors to be reused */
.pad{
  padding-left: 20%;
  padding-right: 20%;
}

a{
  text-decoration: none;
  color: inherit;
  text-transform: none;
}

a:hover{
  text-decoration: none;
}

ul{
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
}

li{
  float: left;
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
/* /class selectors to be reused */

/* HEADER */
header{
  background-color: #2C3E50;
  color: white;
}
header a{
  font-size: 25px;
  line-height: 75px;
  font-weight: bold;
}
header .b a{
  text-align: left;
  font-size: 16px;
}
/* /HEADER */

/* first */
#first{
  background-color: #1ABC9C;
  /* height: 50vh; */
  text-align: center;
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}
#first img{
  width: 20%;
}
#first h1{
  font-size: 60px;
  font-weight: bold;
}
#first i{
  padding-bottom: 15px;
}
/* /first */

/* second */
#second{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: #2C3E50;
  margin: auto;
}

#second h2{
  font-size: 50px;
  font-weight: bold;
}

#second [class*="col-"]{
  padding: 0;
}
#second img{
  width:100%;
  padding: 4%;
  border-radius: 30px;
}

/* /second */
